<div class= "container">
    <footer class= "footer">
        <small>Copyright &copy; by Andrew Olson</small>
        <nav>
            
                <p><%= link_to "About", about_path %></p>
            
        </nav>
    </footer>
</div>