$navbar-default-bg: #00a86b;


@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}
#logo:hover {
    color: #fff;
    text-decoration: none;
}
#navbar-link {
    color: #fff;
    //text-decoration: none;
}
#navbar-admin {
    color: #fff;
}
#navbar-link:hover {
    color: #000;
    //text-decoration: none;
}

.center {
    text-align: center;
}

.jumbotron {
    //background-color: #00a86b;
    background-image: asset-url('shi-shi-beach-washington.jpg');
    background-size: cover;
    height: 550px;
}

.jumbotron h1{
    text-align: center;
    color: #000;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
}
.btn-lg{
    background-color: #00a86b;
    font-size: 1.7em;
}
.listing {
    list-style: none;
    padding-left: 0;
}
.footer {
    
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
}
.footer small {
    float: left;
}
.footer p {
    float: right;
    margin-left: 15px;
}
.article-meta-details {
    border-top: 1px solid #eaeaea;
    margin-top: 10px;
}
.article_actions{
    border-top: 1px solid #eaeaea;
    padding-top: 10px;
}
.description{
    margin-top: 0;
}
.article_title {
    font-size: 1.5em;
    font-weight: bold;
}
.article_body{
    border-top: 1px solid #eaeaea;
    padding-top: 15px;
    padding-bottom: 15px;
}
//--------------------------------------------------------------------------------
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}